/* RESET */
@import url("./font.css");
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Vazir";
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Root Variable */
:root {
    --color-gray:#F7F7F7;
    --color-red:#CC312D;
    --color-red-light:#CC312D1a;
    --color-blue:#2E7AF1;
    --color-blue-light:#448CF91A;
    --color-text-primary:#190D03;
    --color-text-primary-900:#1A1814;
    --color-text-secondary:#606060;
    --color-border :#EBEBEB;

}

.container {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.badge {
   
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8px;
    height: 30px;
    padding: 10px 9px;
}



.badge--primary {
  background-color: var(--color-red-light);
  
  color: var(--color-red);
}



.paymant__badge {
   display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  border-bottom: 1px solid var(--color-border);
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}

.icon {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.icon--trash {
    color: var(--color-red);
}




.checkout{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  padding: 3.4rem 1rem;
}

.checkout__title {
  font-size:1.6rem ;
  color: var(--color-text-primary-900);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1.6rem;
  margin-bottom: 1.2rem;

}

.payment__form {
  padding: 1rem 0.7rem;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 0;
}

.form__title {
  font-size: 1.4rem;
}


.payment__input{
  width: 100%;
  background-color: var(--color-gray);
  border-radius: 4rem;
  padding: 1rem 2rem;
  border: none;
  
 
}



.payment__label {
  font-size: 1.3rem;
  color: var(--color-text-secondary);
  font-weight: 600;
}
.payment__form-group {
  padding-top: 0.8rem;
}
.payment__form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border-radius: 4rem;
    padding: 1.2rem 2rem;
    border: none;
    font-size: 14px;
}


.payment__form-group .payment__input {
  margin-top: 0.8rem;
}

.payment__address-textarea {
  border-radius: 1rem;
  grid-column:  1 / -1; 
  

}
.payment__address-textarea textarea{
    width: 100%;
  background-color: var(--color-gray);
  border-radius: 1.2rem;
  border: none; 
  margin-top: 0.8rem;

}
.payment__address-select {
   padding: 1.3rem 2rem;
   overflow: hidden;
} 
.payment__address-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.payment__address-choice span {
  color: var(--color-red);
  font-size: 1.4rem;
}


.payment__delivary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 
}

.delivery__item {
  background-color: var(--color-gray);
  width: 100%;
  border-radius: 26px;
  display: flex;
  padding: 1.3rem 0.8rem;
  /* margin-top: 1rem; */
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.delivery__item:hover {
  background-color: white;
  border: 1px solid var(--color-red);
}

.delivery__item input[type="radio"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-border, #ccc);
  border-radius: 20%;
  margin-left: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delivery__item input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--color-red); 
  border-radius: 20%;
}

.delivery__checked {
  display: flex;
  align-items: center;
}



@media screen and (min-width:768px) {
  .checkout {
    grid-template-columns: 3fr 2fr;
     padding: 3.4rem 2.4rem;
  }
  .checkout__title {
    font-size: 1.8rem;
  }

 .delivery__item {
 
  border-radius: 26px;
  padding: 1.8rem 1.5rem;
  font-size: 1.4rem;
}

.paymant__badge {
  
  font-size: 1.9rem;
}

.badge {

  font-size: 1.2rem;
  min-width: 24px;
  height: 34px;
  padding: 10px 20px;
}

  
}
@media screen and (min-width:1024px) {
  .checkout {
    grid-template-columns: 3fr 2fr;
  }

  .checkout__title {
    font-size: 2rem;
  }

  .payment__form {
  grid-template-columns:repeat(2,1fr);
  gap: 2rem;
}

  .form__title {
  font-size: 1.6rem;
}
 .payment__delivary {
 
  flex-direction: row;
  align-items: center;
  gap: 2rem; 
}
  
}

/* -----------cart--------- */

.checkout__cart {
  background-color: var(--color-gray);
  border-radius: 1.6rem;
  padding: 1rem;

}

.product-content{
  padding: 1rem;
  width: 100%;
}

.cart__info-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-border);
}
.cart__info-title h2{
    font-size: 1.8rem;
}
.cart__info-title span{
    font-size: 1.2rem;
}

.product__info .header-title span {
  font-weight: 400;
  color: var(--color-text-secondary);
  padding-right: 0.5rem;
}


.cart__product {
    display: flex;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--color-border);
    flex-direction: column;
}

.product__img {
    background-color: #ffffff;
    max-width: 20rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.product__img img {
    width: 9rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product__info {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 700;
}
.product__info p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text-secondary);
}

.product__detaile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.8rem;
    justify-content: space-between;

}

.product__title {
  font-size: 1.4rem;
    margin-top: 0.8rem;
}

.product__act{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.product__number {
  font-size: 1.4rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    border: 1px solid var(--color-border);
}

@media screen and (min-width:576px) {
  .cart__product {
    
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
  }
}

@media screen and (min-width:768px) {
  .checkout__cart {
  
  padding: 1.5rem;

}

.cart__info-title h2{
    font-size: 2.2rem;
}
.cart__info-title span{
    font-size: 1.6rem;
}
}


/* ------cart total price--------- */

.cart__total-price {
    margin: 1.5rem 0rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    padding: 1.6rem;
}

.total-price__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem ;
    
    
}
.total-price__items p{
    font-size: 1.2rem;
    color: #1a1814;  
}
.total-price__items span{
    font-size: 1.6rem;
    color: #14141466;
     
}

.total-price__line {
  border-bottom: 1px solid var(--color-border);
  margin: 1.4rem 0;
}

.cart__total-price > .total-price__items:last-child h4 {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cart__total-price > .total-price__items:last-child span {
   color: #14141466;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}


@media screen and (min-width :768px) {

}
@media screen and (min-width :1024px) {
  .product__detaile {
   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

 .total-price__items p{
    font-size: 1.4rem;
}

.cart__total-price > .total-price__items:last-child h4 {
  font-size: 2rem;
  
}
}

/* -----------payment zarin ----------- */

.cart__btn {
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    border-radius: 1.2rem;
    gap: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.btn {
    display: block;
    width: 100%;
    background-color: var(--color-red);
    font-size: 1.4rem;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 1.2rem 0;
    outline: none;
    border: none;
    border-radius: 4rem;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  border: 2px solid var(--color-red);
  color: var(--color-red);
   padding: 1.2rem 0;
}